@import url('https://fonts.googleapis.com/css?family=Raleway');

html {

}

body {
	background-color: #273547;
	color: #ecf0f1;
}

.container {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.main-header {
	text-align: center;
	background-color: #c12127;
	color: #1abc9c;
	padding: 10px;
	font-size: 50px;
	font-family: 'Raleway';
	font-weight: 900;
}

h1, h2, h3 {
	font-family: 'Raleway', serif;
	color: #ffffff;
}
h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-style: italic; }

#form {
	width: 90%;
}

#form-input {
	margin-top: 20px;
}

#form input {
	border: 0;
	border-bottom: 3px solid #c12127;
	border-radius: 10px;
	width: 100%;
	font-size: 30px;
	line-height: 35px;
	height: 70px;
	text-align: center;
	padding: 10px;
	background: #225f80;
	color: #BBDEFB;
}

#form input:focus {
	outline: 0;
	color: #BBDEFB;
}

#form input::placeholder {
	color: #fff;
	opacity: .4;
}

.btn-search {
	background-color: #f09233;
	color: #fff;
	border-radius: 10px;
	width: 100%;
	font-size: 24px;
	height: 50px;
}

